@page "{id:int}"
@model Bokking_Airline_Tickets.Pages.Flights.BuyModel

<div class="container mt-5 text-center">

    <h2 class="mb-4">Покупка билета</h2>

    <img src="/images/back.jpg" alt="Ваше фото" class="img-fluid rounded shadow" style="max-width: 300px;">

    <p class="mt-4 text-muted">Домой , Уолтер</p>

    <a href="/Flights/Index" class="btn btn-primary mt-3">Вернуться к поиску</a>
</div>
